.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.title {
  color: #333;
  font-size: 22px;
  text-align: center;
  margin-bottom: 16px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  margin-top: 16px;
  border-radius: 4px;
  border: none;
  height: 40px;
  background-color: #333;

  text-transform: uppercase;
  padding: 8px 16px;
  font-weight: bold;
  color: #fff;

  transition: all 0.2s ease-in-out;
}

.button:focus,
.button:active {
  background-color: #666;
}
